
.IntroSection-h2 {
  color: var(--charcoal-grey);
  font-size: 50px;
  position: relative;
  padding-bottom: 10px;
}

.IntroSection-h2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%; /* Adjust the value to control the starting point of the border */
  width: 80%; /* Adjust the value to control the length of the border */
  border-bottom: 2px solid var(--charcoal-grey);
}


.IntroSection-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.IntroSection-main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.IntroSection-mission-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.Intro-mission-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--charcoal-grey);
}

.IntroSection-mission-div p {
  color: var(--charcoal-grey);
  text-align: start;
  width: 35vw;
  font-size: 1.5rem;
}

.button-style {
  background-color: var(--charcoal-grey);
  font-size: larger;
  font-weight: 900;
  border-radius: 5px;
  width: 200px;
  height: 80px;
  color: white;
  cursor: pointer;
  margin-bottom: 50px;
}

.button-style:hover {
  background-color: var(--calm-green);
  border: 3px solid var(--charcoal-grey);
  color: white;
}

.IntroImage {
  border-radius: 10%;
  height: 400px;
  width: 350px;
  border: solid 5px var(--charcoal-grey);
}



