:root {
  --charcoal-grey: #333333;
  --midnight-blue: #001F3F;
  --calm-green: #939f83;
  --rust-orange: #D35400;
  --gunmetal-silver: #808080;
  box-sizing: border-box;
  color: white;
  margin: 0;
  padding: 0;
}

.facts-container {
  color: var(--charcoal-grey);
  /* display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column; */
}

.facts-container-h2 {
  font-size: 50px;
}

.mens-facts-card {
  width: 90vw;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.mens-facts-card h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.mens-facts-card ul {
  margin: 0;
  padding: 0;
}

.mens-facts-card ul li {
  font-size: 20px;
  color: #666;
  line-height: 1.5;
  margin-bottom: 5px;
}

.mens-suicide-facts-container {
  text-align: start;
  width: 300px;
}

.mens-dating-facts-container {
  text-align: start;
  width: 300px;
}

.facts-component-image-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.facts-component-image {
  max-width: 600px;
  border-radius: 8px;
  border: solid 2px var(--charcoal-grey)
}

.facts-container {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.facts-container.fade-out {
  opacity: 0;
}

.solution-component {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.solution-component.fade-in {
  opacity: 1;
}

.facts-component-image {
  width: 300px;
  border-radius: 8px;
  border: 2px solid var(--charcoal-grey);
}

.button-style {
  background-color: var(--charcoal-grey);
  font-size: larger;
  font-weight: 900;
  border-radius: 5px;
  width: 200px;
  height: 80px;
  color: white;
  cursor: pointer;
}

.button-style:hover {
  background-color: var(--calm-green);
  border: 3px solid var(--charcoal-grey);
  color: white;
}

@media (max-width: 768px) {
  .solution-container {
    width: 90%;
  }
  
  .solutions-container-text {
    align-items: center;
  }
  
  .solution-p-tag {
    width: 100%;
    text-align: center;
  }
}