:root {
  --charcoal-grey: #333333;
  --midnight-blue: #001F3F;
  --calm-green: #939f83;
  --rust-orange: #D35400;
  --gunmetal-silver: #808080;
  font-family: Monsertat
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.banner {
  height: 75px;
  width: 100%;
  background-color: var(--charcoal-grey);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}